.footer__wrapper, .about, header, .nav__wrapper {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

nav {
  min-height: 70px;
  border-bottom: 1px rgba(0, 31, 84, 0.144) solid;
}

.nav__wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.nav__wrapper ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__logo {
  justify-self: flex-start;
  width: auto;
  height: 50px;
}

.nav__link {
  padding: 6px 12px;
  text-decoration: none;
  color: #034078;
}
.nav__link:hover {
  color: #1282A2;
}

.footer__wrapper, .about, header, .nav__wrapper {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

.footer__wrapper, .about, header, .nav__wrapper {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  height: auto;
  text-align: center;
  flex-direction: column;
  margin-bottom: 0;
}

.header__image {
  width: 100%;
}

.header__tagline {
  color: #034078;
  margin: 30px 0;
  font-size: calc(16px + 5vw);
}

@media (min-width: 411px) {
  .header__image {
    margin: 30px auto 0 auto;
    width: 40%;
    border-radius: 50%;
    content: url("images/WillNixon-circle.jpg");
  }

  .header__tagline {
    font-family: "Roboto", sans-serif;
    font-size: calc(16px + 4vw);
  }
}
@media (min-width: 640px) {
  .header__tagline {
    font-size: calc(16px + 3vw);
  }
}
.footer__wrapper, .about, .nav__wrapper, header {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

.about {
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px !important;
}

.about__text {
  margin: 5px 0 15px 0;
  padding: 0 20px;
}

@media (min-width: 411px) {
  #about {
    margin-bottom: 20px;
  }

  .about__text {
    margin: 10px auto 20px auto;
    max-width: 900px;
  }
}
.english-rules__img-landscape {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 7%;
  width: 100%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 5px 10px #0b2346;
}
.english-rules__img-landscape:hover {
  z-index: 5;
  transform: scale(1.03);
  transition: transform 0.1s ease-in-out;
  box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
}

.english-rules__img-portrait {
  height: 300px;
  z-index: 1;
  position: absolute;
  height: 55%;
  max-width: 300px;
  left: 10%;
  top: 35%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px #0b2346;
}
.english-rules__img-portrait:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
}

.english-rules__img-code {
  z-index: 0;
  position: absolute;
  top: 53%;
  left: 25%;
  width: 70%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 5px 10px #0b2346;
}
.english-rules__img-code:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
}

@media (min-width: 411px) {
  .english-rules__img-landscape {
    z-index: 0;
  }

  .english-rules__img-code {
    top: 55%;
    left: 32%;
    max-width: 336px;
    z-index: 1;
  }

  .english-rules__img-portrait {
    left: 8%;
    z-index: 2;
  }
}
@media (min-width: 640px) {
  .english-rules__img-code {
    left: 40%;
    top: 57%;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .english-rules__img-landscape {
    top: 20px;
  }

  .english-rules__img-code {
    top: 50%;
    left: 38%;
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .english-rules__img-portrait {
    left: -3%;
  }

  .english-rules__img-code {
    left: 60%;
    top: 48%;
  }
}
.footer__wrapper, .nav__wrapper, header, .about {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

.footer__wrapper, .nav__wrapper, header, .about {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

footer {
  background-color: #0A1128;
  height: 200px;
  color: #FEFCFB;
  min-height: 70px;
}

.footer__wrapper {
  justify-content: space-between;
  padding: 10px 30px;
  max-width: 900px;
}
.footer__wrapper a {
  text-decoration: none;
  font-weight: 100;
  color: #e0dcda;
  display: block;
  margin-bottom: 10px;
  padding: 0;
}
.footer__wrapper a:before {
  display: inline-block;
  margin-right: 7px;
  background-size: 16px 14px;
  width: 16px;
  height: 14px;
  content: "";
}
.footer__wrapper a:hover {
  color: #FEFCFB;
}

.footer__title {
  font-weight: bold;
}

.footer__social {
  width: 150px;
}

.footer__contactinfo {
  width: 170px;
}

.email:before {
  background-image: url("images/mail.png");
}

.twitter:before {
  background-image: url("images/twitter.png");
}

.instagram:before {
  background-image: url("images/instagram.png");
}

.linkedin:before {
  background-image: url("images/linkedin.png");
}

.github:before {
  background-image: url("images/github.png");
}

.nav__wrapper, header, .about, .footer__wrapper {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

#work div {
  display: flex;
  margin: 0 auto;
  text-align: center;
}
#work div:nth-child(2n) {
  max-width: 1350px;
  flex-direction: column;
}

.work__text {
  text-align: center;
}

.work__images {
  min-height: 500px;
  width: 100%;
}
.work__images:nth-child(1) {
  background-color: #1282A2;
}
.work__images:nth-child(3) {
  background-color: #001F54;
}
.work__images:nth-child(5) {
  background-color: #034078;
}

.work__images-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
}

.work__title {
  font-weight: bold;
  color: #034078;
  font-family: "Roboto", sans-serif;
}

.work__description {
  margin: 5px auto 20px auto;
  padding: 0 20px;
  max-width: 900px;
}

.work__tools a {
  color: #034078;
}
.work__tools a:before {
  background-image: url("images/github-blue.png");
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  margin-right: 5px;
}
.work__tools a:hover {
  color: #1282A2;
}
.work__tools ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.work__tools ul:nth-child(1) {
  margin-right: 30px;
}
.work__tools ul li {
  font-size: calc(9px + 1vw);
  min-width: 100px;
  text-align: center;
}

.work__button {
  font-size: calc(13px + 1vmin);
  margin: 30px auto;
  max-height: 100px;
  width: 70px;
  padding: 10px 35px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #001F54;
}
.work__button:hover {
  background-color: #034078;
}

@media (min-width: 411px) {
  .work__title {
    font-size: calc(16px + 2vw);
  }

  .work__images-wrapper {
    max-width: 550px;
  }
}
@media (min-width: 640px) {
  .work__images-wrapper {
    max-width: 600px;
  }
}
@media (min-width: 768px) {
  .work__images-wrapper {
    max-width: 800px;
  }
}
.ppl__img-landscape {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 7%;
  width: 100%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.ppl__img-landscape:hover {
  z-index: 5;
  transform: scale(1.03);
  transition: transform 0.1s ease-in-out;
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.ppl__img-portrait {
  height: 300px;
  z-index: 1;
  position: absolute;
  height: 55%;
  max-width: 300px;
  left: 10%;
  top: 35%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
  border: 2px solid rgba(150, 187, 194, 0.473);
}
.ppl__img-portrait:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.ppl__img-code {
  z-index: 0;
  position: absolute;
  top: 53%;
  left: 25%;
  width: 70%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.ppl__img-code:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

@media (min-width: 411px) {
  .ppl__img-landscape {
    z-index: 0;
  }

  .ppl__img-code {
    top: 55%;
    left: 32%;
    max-width: 336px;
    z-index: 1;
  }

  .ppl__img-portrait {
    left: 8%;
    z-index: 2;
  }
}
@media (min-width: 640px) {
  .ppl__img-code {
    left: 40%;
    top: 57%;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .ppl__img-landscape {
    top: 20px;
  }

  .ppl__img-code {
    top: 50%;
    left: 38%;
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .ppl__img-portrait {
    left: -3%;
  }

  .ppl__img-code {
    left: 60%;
    top: 48%;
  }
}
.beerings__img-landscape {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 7%;
  width: 100%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.beerings__img-landscape:hover {
  z-index: 5;
  transform: scale(1.03);
  transition: transform 0.1s ease-in-out;
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.beerings__img-portrait {
  height: 300px;
  z-index: 1;
  position: absolute;
  height: 55%;
  max-width: 300px;
  left: 10%;
  top: 35%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
  border: 2px solid rgba(179, 138, 35, 0.473);
}
.beerings__img-portrait:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.beerings__img-code {
  z-index: 0;
  position: absolute;
  top: 53%;
  left: 25%;
  width: 70%;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.beerings__img-code:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

@media (min-width: 411px) {
  .beerings__img-landscape {
    z-index: 0;
  }

  .beerings__img-code {
    top: 55%;
    left: 32%;
    max-width: 336px;
    z-index: 1;
  }

  .beerings__img-portrait {
    left: 8%;
    z-index: 2;
  }
}
@media (min-width: 640px) {
  .beerings__img-code {
    left: 40%;
    top: 57%;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .beerings__img-landscape {
    top: 20px;
  }

  .beerings__img-code {
    top: 50%;
    left: 38%;
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .beerings__img-portrait {
    left: -3%;
  }

  .beerings__img-code {
    left: 60%;
    top: 48%;
  }
}
.nav__wrapper, header, .about, .footer__wrapper {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

body {
  font: 16px "Assistant", sans-serif;
  line-height: 1.5;
  color: #0A1128;
  background-color: #FEFCFB;
}

b {
  color: #034078;
}

@media (min-width: 411px) {
  p {
    font-size: calc(10px + 1vw);
  }
}

/*# sourceMappingURL=styles.css.map */
