#work div, .footer__wrapper, .about, header, .nav__wrapper {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

nav {
  min-height: 70px;
  border-bottom: 1px rgba(0, 31, 84, 0.144) solid;
}

.nav__wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.nav__wrapper ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__logo {
  justify-self: flex-start;
  width: auto;
  height: 50px;
}

.nav__link {
  padding: 6px 12px;
  text-decoration: none;
  color: #034078;
}
.nav__link:hover {
  color: #1282A2;
}

#work div, .footer__wrapper, .about, header, .nav__wrapper {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

#work div, .footer__wrapper, .about, header, .nav__wrapper {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  height: auto;
  text-align: center;
  flex-direction: column;
  margin-bottom: 0;
}

.header__image {
  width: 100%;
}

.header__tagline {
  color: #034078;
  margin: 30px 0;
  font-size: calc(16px + 5vw);
}

@media (min-width: 411px) {
  .header__image {
    margin: 30px auto 0 auto;
    width: 40%;
    max-width: 298px;
    border-radius: 50%;
    content: url("images/WillNixon-circle.jpg");
  }

  .header__tagline {
    font-family: "Roboto", sans-serif;
    font-size: calc(16px + 4vw);
  }
}
@media (min-width: 640px) {
  .header__tagline {
    font-size: calc(16px + 3vw);
  }
}
#work div, .footer__wrapper, .about, .nav__wrapper, header {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

.about {
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px !important;
}

.about__text {
  margin: 5px 0 15px 0;
  padding: 0 20px;
}

@media (min-width: 411px) {
  #about {
    margin-bottom: 20px;
  }

  .about__text {
    margin: 10px auto 20px auto;
    max-width: 900px;
  }
}
.english-rules__img-mobile-portrait {
  height: 350px;
  z-index: 1;
  position: relative;
  left: 20px;
  top: 20px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px #0b2346;
}
.english-rules__img-mobile-portrait:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
}

.english-rules__img-mobile-landscape {
  position: relative;
  z-index: 2;
  top: 360px;
  left: -90px;
  height: 115px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 5px 10px #0b2346;
}
.english-rules__img-mobile-landscape:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
}

.english-rules__img-mobile-code {
  z-index: 0;
  position: relative;
  top: 90px;
  left: -255px;
  height: 110px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 5px 10px #0b2346;
}
.english-rules__img-mobile-code:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
}

.english-rules__img-landscape, .english-rules__img-code {
  display: none;
}

@media (max-width: 349px) {
  .english-rules__img-mobile-code {
    left: -295px;
  }

  .english-rules__img-mobile-landscape {
    left: -110px;
  }
}
@media (min-width: 411px) {
  .english-rules__img-mobile-landscape {
    left: -50px;
  }

  .english-rules__img-mobile-code {
    left: -215px;
  }

  .english-rules__img-mobile-portrait {
    left: 30px;
  }
}
@media (min-width: 640px) {
  .english-rules__img-mobile-code, .english-rules__img-mobile-landscape {
    display: none;
  }

  .english-rules__img-landscape {
    display: block;
    position: relative;
    z-index: 0;
    width: 600px;
    height: 400px;
    left: -180px;
    top: 20px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 5px 10px #0b2346;
  }
  .english-rules__img-landscape:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }

  .english-rules__img-mobile-portrait {
    height: 330px;
    top: 140px;
    left: 390px;
    top: 130px;
    z-index: 2;
    border-radius: 3px;
  }
  .english-rules__img-mobile-portrait:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }

  .english-rules__img-code {
    display: block;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 200px;
    left: -750px;
    top: 270px;
    border-radius: 3px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 5px 10px #0b2346;
  }
  .english-rules__img-code:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }
}
@media (min-width: 768px) {
  .english-rules__img-landscape {
    left: -160px;
    width: 700px;
  }

  .english-rules__img-mobile-portrait {
    left: 515px;
  }

  .english-rules__img-code {
    left: -820px;
  }
}
@media (min-width: 1024px) {
  .english-rules__img-landscape {
    left: 0px;
  }

  .english-rules__img-mobile-portrait {
    left: 665px;
  }

  .english-rules__img-code {
    left: -650px;
  }
}
@media (min-width: 1300px) {
  .english-rules__img-landscape {
    left: 100px;
  }

  .english-rules__img-mobile-portrait {
    left: 775px;
  }

  .english-rules__img-code {
    left: -550px;
  }
}
#work div, .footer__wrapper, .nav__wrapper, header, .about {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

#work div, .footer__wrapper, .nav__wrapper, header, .about {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

footer {
  background-color: #0A1128;
  height: 200px;
  color: #FEFCFB;
  min-height: 70px;
}

.footer__wrapper {
  justify-content: space-between;
  padding: 10px 30px;
  max-width: 900px;
}
.footer__wrapper a {
  text-decoration: none;
  font-weight: 100;
  color: #e0dcda;
  display: block;
  margin-bottom: 10px;
  padding: 0;
}
.footer__wrapper a:before {
  display: inline-block;
  margin-right: 7px;
  background-size: 16px 14px;
  width: 16px;
  height: 14px;
  content: "";
}
.footer__wrapper a:hover {
  color: #FEFCFB;
}

.footer__title {
  font-weight: bold;
}

.footer__social {
  width: 150px;
}

.footer__contactinfo {
  width: 170px;
}

.email:before {
  background-image: url("images/mail.png");
}

.twitter:before {
  background-image: url("images/twitter.png");
}

.instagram:before {
  background-image: url("images/instagram.png");
}

.linkedin:before {
  background-image: url("images/linkedin.png");
}

.github:before {
  background-image: url("images/github.png");
}

#work div, .nav__wrapper, header, .about, .footer__wrapper {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

#work div {
  text-align: center;
}
#work div:nth-child(2n) {
  flex-direction: column;
}

.work__text {
  text-align: center;
}

.work__images {
  display: flex;
  height: 500px;
  width: 100%;
}
.work__images:nth-child(1) {
  background-color: #034078;
}
.work__images:nth-child(3) {
  background-color: #001F54;
}
.work__images:nth-child(5) {
  background-color: #1282A2;
}

.work__title {
  font-weight: bold;
  color: #034078;
  font-family: "Roboto", sans-serif;
}

.work__description {
  margin: 5px auto 20px auto;
  padding: 0 20px;
  max-width: 900px;
}

.work__tools a {
  color: #034078;
}
.work__tools a:hover {
  color: #1282A2;
}
.work__tools a:hover span {
  display: none;
}
.work__tools a:hover:before {
  content: "GitHub Repo";
}
.work__tools ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.work__tools ul:nth-child(1) {
  margin-right: 30px;
}
.work__tools ul li {
  width: 100px;
}

.work__button {
  font-size: calc(13px + 1vmin);
  margin: 30px auto;
  max-height: 100px;
  width: 70px;
  padding: 10px 35px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #001F54;
}
.work__button:hover {
  background-color: #034078;
}

@media (min-width: 411px) {
  .work__title {
    font-size: calc(16px + 2vw);
  }
}
.ppl__img-mobile-portrait {
  margin: 0 auto;
  height: 350px;
  z-index: 1;
  position: relative;
  left: -150px;
  top: 130px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.ppl__img-mobile-portrait:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.ppl__img-mobile-landscape {
  margin: 0 auto;
  z-index: 2;
  position: relative;
  top: 20px;
  left: 20px;
  height: 171px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.ppl__img-mobile-landscape:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.ppl__img-mobile-code {
  margin: 0 auto;
  z-index: 0;
  position: relative;
  top: 300px;
  left: -450px;
  height: 110px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.ppl__img-mobile-code:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.ppl__img-landscape, .ppl__img-code {
  display: none;
}

@media (max-width: 349px) {
  .ppl__img-mobile-code {
    left: -480px;
  }

  .ppl__img-mobile-landscape {
    left: 10px;
  }

  .ppl__img-mobile-portrait {
    left: -200px;
  }
}
@media (min-width: 411px) {
  .ppl__img-mobile-landscape {
    left: 40px;
  }

  .ppl__img-mobile-portrait {
    left: -120px;
  }

  .ppl__img-mobile-code {
    left: -430px;
  }
}
@media (min-width: 640px) {
  .ppl__img-mobile-code, .ppl__img-mobile-landscape {
    display: none;
  }

  .ppl__img-landscape {
    display: block;
    position: relative;
    z-index: 0;
    top: 20px;
    width: 600px;
    height: 400px;
    left: -165px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 5px 10px #0b2346;
  }
  .ppl__img-landscape:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }

  .ppl__img-mobile-portrait {
    height: 330px;
    top: 140px;
    left: 50px;
    z-index: 2;
    border-radius: 3px;
    border: 1px solid rgba(128, 164, 216, 0.377);
  }
  .ppl__img-mobile-portrait:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }

  .ppl__img-code {
    display: block;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 200px;
    left: -600px;
    top: 270px;
    border-radius: 3px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 5px 10px #0b2346;
  }
  .ppl__img-code:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }
}
@media (min-width: 768px) {
  .ppl__img-landscape {
    left: -150px;
    width: 700px;
  }

  .ppl__img-mobile-portrait {
    left: 65px;
  }

  .ppl__img-code {
    left: -590px;
  }
}
@media (min-width: 1024px) {
  .ppl__img-landscape {
    left: 0px;
  }

  .ppl__img-mobile-portrait {
    left: 225px;
  }

  .ppl__img-code {
    left: -440px;
  }
}
@media (min-width: 1300px) {
  .ppl__img-landscape {
    left: 100px;
    width: 700px;
  }

  .ppl__img-mobile-portrait {
    left: 305px;
  }

  .ppl__img-code {
    left: -350px;
  }
}
.beerings__img-mobile-portrait {
  height: 300px;
  z-index: 1;
  position: relative;
  left: -250px;
  top: 170px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.beerings__img-mobile-portrait:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.beerings__img-mobile-landscape {
  z-index: 1;
  position: relative;
  top: 30px;
  left: 80px;
  height: 150px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.beerings__img-mobile-landscape:hover {
  z-index: 5;
  transform: scale(1.03);
  transition: transform 0.1s ease-in-out;
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.beerings__img-mobile-code {
  z-index: 0;
  position: relative;
  top: 230px;
  left: -220px;
  height: 175px;
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
}
.beerings__img-mobile-code:hover {
  z-index: 5;
  transform: scale(1.03);
  box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
}

.beerings__img-landscape, .beerings__img-code {
  display: none;
}

@media (max-width: 349px) {
  .beerings__img-mobile-code {
    left: -250px;
  }

  .beerings__img-mobile-landscape {
    left: 40px;
  }
}
@media (min-width: 411px) {
  .beerings__img-mobile-landscape {
    left: 80px;
  }

  .beerings__img-mobile-portrait {
    left: -230px;
  }

  .beerings__img-mobile-code {
    left: -170px;
  }
}
@media (min-width: 640px) {
  .beerings__img-mobile-code, .beerings__img-mobile-landscape {
    display: none;
  }

  .beerings__img-landscape {
    display: block;
    position: relative;
    z-index: 0;
    width: 600px;
    height: 400px;
    left: -170px;
    top: 20px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 5px 10px #0b2346;
  }
  .beerings__img-landscape:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }

  .beerings__img-mobile-portrait {
    height: 330px;
    top: 140px;
    left: 405px;
    border-radius: 3px;
    z-index: 2;
  }
  .beerings__img-mobile-portrait:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }

  .beerings__img-code {
    display: block;
    position: relative;
    z-index: 1;
    width: 400px;
    height: 200px;
    left: -750px;
    top: 250px;
    border-radius: 3px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 5px 10px #0b2346;
  }
  .beerings__img-code:hover {
    z-index: 5;
    transform: scale(1.03);
    box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
  }
}
@media (min-width: 768px) {
  .beerings__img-landscape {
    left: -150px;
    width: 700px;
  }

  .beerings__img-mobile-portrait {
    left: 515px;
  }

  .beerings__img-code {
    left: -800px;
    top: 255px;
  }
}
@media (min-width: 1024px) {
  .beerings__img-landscape {
    left: 0px;
  }

  .beerings__img-mobile-portrait {
    left: 665px;
  }

  .beerings__img-code {
    left: -660px;
  }
}
@media (min-width: 1300px) {
  .beerings__img-landscape {
    left: 100px;
  }

  .beerings__img-mobile-portrait {
    left: 775px;
  }

  .beerings__img-code {
    left: -550px;
  }
}
.nav__wrapper, header, .about, .footer__wrapper, #work div {
  display: flex;
  max-width: 1350px;
  margin: 0 auto;
}

body {
  font: 16px "Assistant", sans-serif;
  line-height: 1.5;
  color: #0A1128;
  background-color: #FEFCFB;
}

b {
  color: #034078;
}

@media (min-width: 411px) {
  p {
    font-size: calc(10px + 1vw);
  }
}

/*# sourceMappingURL=styles.css.map */
