@import 'variables';

#about {
    @extend %flex-container;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px !important;
}

.about__text {
    margin: 5px 0 15px 0;
    padding: 0 20px;
}

@include respond-above(xs) {

    #about {
        margin-bottom: 20px;
    }

    .about__text {
        margin: 10px auto 20px auto;
        max-width: 900px;
    }

}