.english-rules__img-mobile-portrait {
    height: 350px;
    z-index: 1;
    position: relative;
    left: 20px;
    top: 20px;
    box-shadow: 10px 10px 10px rgb(11, 35, 70);
}

.english-rules__img-mobile-landscape {
    position: relative;
    top: 360px;
    left: -80px;
    height: 115px;
    box-shadow: 10px 5px 10px rgb(11, 35, 70);
}

.english-rules__img-mobile-code {
    z-index: 0;
    position: relative;
    top: 90px;
    left: -220px;
    height: 110px;
    box-shadow: 10px 5px 10px rgb(11, 35, 70);
}