.english-rules__img-mobile-portrait {
    height: 350px;
    z-index: 1;
    position: relative;
    left: 20px;
    top: 20px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 10px 10px rgb(11, 35, 70);

    &:hover {
        z-index: 5;
        transform: scale(1.03);
        box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
    }
}

.english-rules__img-mobile-landscape {
    position: relative;
    z-index: 2;
    top: 360px;
    left: -90px;
    height: 115px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 5px 10px rgb(11, 35, 70);

    &:hover {
        z-index: 5;
        transform: scale(1.03);
        box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
    }
}

.english-rules__img-mobile-code {
    z-index: 0;
    position: relative;
    top: 90px;
    left: -255px;
    height: 110px;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 5px 10px rgb(11, 35, 70);

    &:hover {
        z-index: 5;
        transform: scale(1.03);
        box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
    }

}

.english-rules__img-landscape {
    display: none;
}

@include respond-below(350px) {
    .english-rules__img-mobile-code {
        left: -295px;
    }

    .english-rules__img-mobile-landscape {
        left: -110px;
    }

}

@include respond-above(xs) {

    .english-rules__img-mobile-landscape {
        left: -50px;
    } 

    .english-rules__img-mobile-code {
        left: -215px;
    }

    .english-rules__img-mobile-portrait {
        left: 30px;
    }

}

@include respond-above(sm) {

    .english-rules__img-mobile-code, .english-rules__img-mobile-landscape  {
        display: none;
    }

    .english-rules__img-landscape {
        display: block;
        position: relative;
        z-index: 0;
        width: 600px;
        height: 400px;
        left: -180px;
        top: 20px;
        transition: transform 0.1s ease-in-out;
        box-shadow: 10px 5px 10px rgb(11, 35, 70);

        &:hover {
            z-index: 5;
            transform: scale(1.03);
            box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
        }
    }

    .english-rules__img-mobile-portrait {
        height: 330px;
        top: 140px;
        left: 390px;
        top: 130px;
        z-index: 1;
    
        &:hover {
            z-index: 5;
            transform: scale(1.03);
            box-shadow: 20px 20px 20px rgba(11, 35, 70, 0.63);
        }
    }
}

@include respond-above(md) {
    .english-rules__img-landscape {
        left: -160px;
        width: 700px;
    }
    .english-rules__img-mobile-portrait {
        left: 515px;
    }
}

@include respond-above(lg) {
    .english-rules__img-landscape {
        left: 0px;
    }
    .english-rules__img-mobile-portrait {
        left: 665px;
    }
}

@include respond-above(xl) {
    .english-rules__img-landscape {
        left: 100px;
    }
    .english-rules__img-mobile-portrait {
        left: 775px;
    }
}