@import 'variables';

%flex-container {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

header {
    @extend %flex-container;
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-bottom: 0;
}

.header__image {
    width: 100%;
}

.header__tagline {
    color: $PRIMARY;
    margin: 30px 0;
    font-size: calc(16px + 5vw);
}

@include respond-above(xs) {

    .header__image {
        margin: 30px auto 0 auto;
        width: 40%;
        // max-width: 298px;
        border-radius: 50%;
        content:url('images/WillNixon-circle.jpg');
    }

    .header__tagline {
        font-family: 'Roboto', sans-serif;
        font-size: calc(16px + 4vw);
    }

}

@include respond-above(sm) {
    .header__tagline {
        font-size: calc(16px + 3vw);
    }
}