.ppl__img-landscape {
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    top: 7%;
    width: 100%;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);

    &:hover {
        z-index: 5;
        transform: scale(1.03);
        transition: transform 0.1s ease-in-out;
        box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
    }
}

.ppl__img-portrait {
    height: 300px;
    z-index: 1;
    position: absolute;
    height: 55%;
    max-width: 300px;
    left: 10%;
    top: 35%; 
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);
    border: 2px solid rgba(150, 187, 194, 0.473);

    &:hover {
        z-index: 5;
        transform: scale(1.03);
        box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
    }
}

.ppl__img-code {
    z-index: 0;
    position: absolute;
    top: 53%;
    left: 25%;
    width: 70%;
    transition: transform 0.1s ease-in-out;
    box-shadow: 10px 10px 10px rgba(0, 3, 8, 0.377);

    &:hover {
        z-index: 5;
        transform: scale(1.03);
        box-shadow: 20px 20px 20px rgba(0, 3, 8, 0.26);
    }
}

@include respond-above(xs) {

    .ppl__img-landscape {
        z-index: 0;
    }

    .ppl__img-code {
        top: 55%;
        left: 32%;
        max-width: 336px;
        z-index: 1;
    }

    .ppl__img-portrait {
        left: 8%;
        z-index: 2;
    }

}

@include respond-above(sm) {

    .ppl__img-code {
        left: 40%;
        top: 57%;
        z-index: 1;
    }

}

@include respond-above(md) {

    .ppl__img-landscape {
        top: 20px;
    }

    .ppl__img-code {
        top: 50%;
        left: 38%;
        max-width: 400px;
    }

}

@include respond-above(lg) {
    .ppl__img-portrait {
        left: -3%;
    }
    .ppl__img-code {
        left: 60%;
        top: 48%;
    }
}