@import 'variables';

#work {

    div {
        display: flex;
        margin: 0 auto;
        &:nth-child(2n) {
            max-width: 1350px;
            flex-direction: column;
        };
        text-align: center;
    }

}

.work__text {
    text-align: center;
}

.work__images {
    min-height: 500px;
    width: 100%;
    &:nth-child(1) {
        background-color: $ACCENT;
    };
    &:nth-child(3) {
        background-color: $SECONDARY;
    };
    &:nth-child(5) {
        background-color: $PRIMARY;
    };
}

.work__images-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90%;
    min-height: 500px;
    margin: 0 auto;
}

.work__title {
    font-weight: bold;
    color: $PRIMARY;
    font-family: 'Roboto', sans-serif;
}

.work__description {

    margin: 5px auto 20px auto;
    padding: 0 20px;
    max-width: 900px;
}

.work__tools {
    a {
        color: $PRIMARY;
        &:before {
            background-image: url('images/github-blue.png');
            background-size: 15px 15px;
            display: inline-block;
            width: 15px; 
            height: 15px;
            content:"";
            margin-right: 5px;
        }
        &:hover {
            color: $ACCENT;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        &:nth-child(1) {
            margin-right: 30px;
        }

        li {
            font-size: calc(9px + 1vw);
            width: 100px;
        }
    }
}

.work__button {
    font-size: calc(13px + 1vmin);
    margin: 30px auto;
    max-height: 100px;
    width: 70px;
    padding: 10px 35px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: $SECONDARY;
    &:hover {
        background-color: $PRIMARY;
    } 
}

@include respond-above(xs) {
    .work__title {
        font-size: calc(16px + 2vw);
    }

    .work__images-wrapper {
        max-width: 550px;
    }
}

@include respond-above(sm) {
    .work__images-wrapper {
        max-width: 600px;
    }
}

@include respond-above(md) {
    .work__images-wrapper {
        max-width: 800px;
    }
}