@import 'variables';

#work {

    div {
        @extend %flex-container;
        &:nth-child(2n) {
            flex-direction: column;
        };
        text-align: center;
    }

}

.work__text {
    text-align: center;
}

.work__images {
    height: 500px;
    width: 100%;
    &:nth-child(1) {
        background-color: $ACCENT;
    };
    &:nth-child(3) {
        background-color: $SECONDARY;
    };
    &:nth-child(5) {
        background-color: $PRIMARY;
    };
}

.work__title {
    font-weight: bold;
    color: $PRIMARY;
    font-family: 'Roboto', sans-serif;
}

.work__description {

    margin: 5px auto 20px auto;
    padding: 0 20px;
    max-width: 900px;
}

.work__tools {
    a {
        color: $PRIMARY;
        &:hover {
            color: $ACCENT;
            span {
                display: none;
            }
            &:before {
                content: 'GitHub Repo'
            }
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &:nth-child(1) {
            margin-right: 30px;
        }

        li {
            width: 100px;
        }
    }
}

.work__button {
    font-size: calc(13px + 1vmin);
    margin: 30px auto;
    max-height: 100px;
    width: 70px;
    padding: 10px 35px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-color: $SECONDARY;
    &:hover {
        background-color: $PRIMARY;
    } 
}

@include respond-above(xs) {
    .work__title {
        font-size: calc(16px + 2vw);
    }
}